- content_for(:container) do
  = render :partial => 'admin/stripe/plans/form', :locals => {:plan => @plan.to_hash, :products => @products, :info => @info.to_hash}

= render(:partial => 'layouts/container', :locals => { :container_id => 'fission-stripe-plan-edit' })


