- content_for(:container) do
  = render :partial => 'admin/stripe/plans/form', :locals => {:plan => @plan, :products => @products}

= render(:partial => 'layouts/container', :locals => { :container_id => 'fission-stripe-plan-new' })
