%div#fission-stripe-plan.container.container-padding
  %div.panel.panel-default
    %div.panel.heading= "Stripe plan #{@plan[:name]}"
    %div.panel.body
      %table.table
        - @plan.keys.each do |key|
          %tr
            %td.col-md-3
              %b= key.humanize
            %td= @plan[key]