%div.container.container-padding.pricing
  %h2
    = "Subscription (#{@account.name})"
    - if @account.source == 'github'
      %a.pull-right{ href: "https://github.com/#{@account}" }
        %i.fa.fa-github-square

// Display the pricing packages
= render partial: "stripe/pricing"

%div.container.navfix
